<header>
    <a href="/">
        <div class="oval">
            <h1>Party</h1>
        </div>
        <div class="arrow_box">
            <h1>Like It's 2009</h1>
        </div>
        <div id="subheading">
            <h3>the best of warped tour bands</h3>
        </div>
    </a>
</header>