<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header>
    <%- include('partials/header'); %>
</header>

 <!-- TODO: band suggestion feature -->
 <!--
<section class="form">
    <form action="/bandsuggest" method="POST">
        <input type="text" placeholder="band" name="band">
        <button type="submit" class="btn-main">Submit</button>
    </form>
</section>
-->
<section class="bandlist">
    <h2>Current Bands Listed</h2>
<!--    <%= bands %>-->
    <% for(let i=0;i<bands.length;i++) {%>
        <% if(bands[i].band !== "unknown") {%>
        <li class="band">
            <span><%= bands[i].band %></span>
        </li>
        <% } %>
    <% } %>
</section>


<script src="static/js/main.js"></script>
</body>
</html>