<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header>
    <%- include('partials/header'); %>
</header>

<section class="search">
    <form action="" method="get">
        <div>
            <label for="band">Band:</label>
            <input type="search" class="input-main" id="band" placeholder="Enter band name">
        </div>
        <div class="btn-line"><button class="btn-main">What's their best song?</button></div>
    </form>
</section>

<section class="response">
    <h2></h2>
</section>

<!--<section class="form">
    <form action="/songs" method="POST">
        <input type="text" placeholder="band" name="band">
        <input type="text" placeholder="song" name="song">
        <button type="submit">Submit</button>
    </form>
</section>-->

<script src="static/js/main.js"></script>
</body>
</html>