/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(18,182,226);
    background: linear-gradient(0deg, rgba(75,210,196,1) 0%, rgba(18,182,226,1) 64%, rgba(30,98,211,1) 100%);
    background-attachment: fixed;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  line-height: normal;
}

h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: normal;
}

label {
    font-weight: bold;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  text-align: center;
  padding: 20px;
}

section {
  text-align: center;
  padding: 20px;
}

/* footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
