/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(18,182,226);
    background: linear-gradient(0deg, rgba(75,210,196,1) 0%, rgba(18,182,226,1) 64%, rgba(30,98,211,1) 100%);
    /* more gradient: */
    /* background: rgb(240,95,44);
    background: linear-gradient(0deg, rgba(240,95,44,1) 0%, rgba(241,196,35,1) 23%, rgba(234,205,81,1) 40%, rgba(27,207,240,1) 58%, rgba(50,137,243,1) 100%); */
    background-attachment: fixed;
}

a {
    all: inherit;
}

h1 {
  font: italic 2em 'Anton', sans-serif;
  line-height: 80%;
  text-transform: uppercase;
}

.oval h1 {
  color:#fff;
  font-size: 2.2em;
  margin-left: -10px;
}

.arrow_box h1 {
  color: #0022ff;
}

h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: normal;
}

header h3 {
  color: #fff;
  font: 1.5em Impact, sans-serif;
  margin-top: 6%;
}

h4 {
  color: #000;
  font: 1.5em sans-serif;
  font-weight: bold;
}

label {
    font-weight: bold;
}

.btn-main {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: rgb(255,255,255);
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
}

.btn-line {
  margin-top: .5em;
}

.input-main {
  background-color: rgba(255, 255, 255, .5);
  border: 0;
  border-radius: 12px;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
}

.label-line {
  margin-bottom: .5em;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  text-align: center;
  padding: 20px;
}

/* footer {

} */

#subheading {
  margin-top: 3em;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.arrow_box {
  position: relative;
  height: 80px;
  width: 200px;
	background: #ffdd33;
	border: 4px solid #ff3300;
  border-radius: 0 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: -28%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 0, 0, 0);
	border-left-color: #ffdd33;
	border-width: 60px 0 60px 35px;
}

.arrow_box:before {
	border-color: rgba(255, 0, 0, 0);
	border-left-color: #ff3300;
	border-width: 75px 0 75px 43.75px;
  margin-top: -15px;
  margin-left: -4.5px;
  z-index: -1;
}

.oval {
  width: 120px;
  height: 75px;
  background: #ff3300;
  border-radius: 50%;
  margin-left: -150px;
  margin-bottom: -15px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oval:before {
  width: 108px;
  height: 67px;
  border: solid 2px #fff;
  border-radius: 50%;
  content: "";
  position:absolute;
}